* {
    box-sizing: border-box;
  }

html { 
    background: url(images/cover.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: 'Franklin Gothic Medium';
}

header {
    width: 60vw;
    height: 25vh;
    overflow: hidden;
    background: whitesmoke;
    margin: auto;
    margin-top: 10vh;
    text-align: center;

}

.img-hldr {
    height: 50%; 
    width: 50%; 
    overflow: hidden;
    display: inline-block;
    margin-top: 3vh;
    padding-top: 2vh;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.h1-hldr{
    height: 40%;
    width: 50%;
    overflow: hidden;
    display: inline-block;
    padding-bottom: 5vh;
}

h1 {
    font-size: 20px;
}


.container {
    margin: auto;
    border: 1px solid #c3c3c3;
    text-align: center;
    background-color: whitesmoke;
    opacity: 95%;
    box-shadow: 5px, 10px black;
    width: 60vw;
}

.form {
    display: block;
}

.question {
    flex: 50%;
    padding-bottom: 10px;
}

ul {
    list-style: none;
    padding-left: 0;
    text-align: left;
}

.start-button {
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    margin-bottom: 10vh;
}
.start-button:hover {
    background-color:#5cbf2a;
    cursor: pointer;
}
.start-button:active {
	position:relative;
	top:1px;
}

#next-question {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
    margin-top: 30px;
    margin-bottom: 10vh;
}
#next-question:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    background-color:#408c99;
    cursor: pointer;
}

#next-question:active {
	position:relative;
	top:1px;
}

.your-answer {
    padding-bottom: 20px;
}

header .question-and-score {
    font-size: 20px;
    font-weight: 600px;
    color:white;
    background: none;
  }
  
.question-and-score ul {
    text-align:center;
    padding-left: 2%;
    padding-right: 2%;
  }
  
.question-and-score li {
    display: inline-block;
    padding:0 2%;
  }

.legend {
      width: 100px;
      height: 60px;
      margin-top: 30px;
      margin-bottom: 30px;
      display: inline-block;
      background-color: black;
      color: white;
  }

  .sbmt-cont {
      display: block;
      text-align: center;
      margin: 20px;
  }

ul{
    size: 50%;
}

li{
    margin: 10px;
    font-size: 20px;
}

#submit-btn {
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
#submit-btn:hover {
    background-color:#5cbf2a;
    cursor: pointer;
}
#submit-btn:active {
	position:relative;
	top:1px;
}

#restart-btn {
	background-color:#ff0000;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    margin-top: 30px;
}

#restart-btn:hover {
    background-color:#bd2a2a;
    cursor: pointer;
}

#restart-btn:active {
	position:relative;
    top:1px;
}
